<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                  <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Services.ConsoleHost.ValidateSamlToken, Services.ConsoleHost" />
                  <serviceMetadata httpGetEnabled="true"/>
                  <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Services.ConsoleHost.SampleService">
                <endpoint address="" binding="basicHttpBinding" contract="Services.ConsoleHost.ISampleService">
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="urn:my-service" />
      </audienceUris>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="9b250aad7e4950604072ffaa60cde7795f23b52a" name="test-adfs.auth10.com"/>
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None" revocationMode="NoCheck" />
    </service>
  </microsoft.identityModel>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
